/* Used to stye the login form*/

.login-form {
  border: 1px solid #ccc;
  padding: 20px;
  width: 300px;
  text-align: center;
  background-color: #223484;
}

.login-form h3 {
  margin-bottom: 20px;
}

.login-form form div {
  margin-bottom: 10px;
}

.login-form label {
  margin-right: 10px;
}

.login-form input {
  padding: 5px;
}

.login-form button {
  padding: 5px 10px;
}
